{% extends "master.html" %}

{% block title %}Faculty List{% endblock %}

{% block content %}
    <h2>Faculty Members</h2>
    <a href="{% url 'faculty_add' %}">Add New Faculty</a>
    <ul>
    {% for faculty in faculties %}
        <li>
            {{ faculty.name }} | {{ faculty.age }} | {{ faculty.qualification }}
            [<a href="{% url 'faculty_update' faculty.id %}">Edit</a>]
            [<a href="{% url 'faculty_delete' faculty.id %}">Delete</a>]
        </li>
    {% empty %}
        <li>No faculty members found.</li>
    {% endfor %}
    </ul>
{% endblock %}